body {
    background-color: rgb(10, 10, 10);
    color: aliceblue;
    font-family: sans-serif;
}


.title {
    margin: 0;
}

.header-container {
    display: inline-block;
    width: 25%;
    margin-top: 55px;
    justify-content: center;
    align-items: center;
   }
   
   .content {
    display: flex;
    flex-direction: column;
   }
   
   .item {
    display: flex;
    flex-direction: column;
   }
   
   .item img {
    display: inline-block;
    vertical-align: bottom;
   }
   
   .item p {
    display: inline-block;
    vertical-align: bottom;
   }

.button {
    width: 170px;
    height: 40px;
    background-color: rgb(12, 70, 90);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: system-ui;
    border-radius: 10px;
    transition-duration: 300ms;
}

.button:hover {
    background-color: rgb(52, 120, 140);
}

.topnav {
    background-color: rgb(10, 10, 10);
    overflow: hidden;
}


.topnav a {
    float: right;
    color: #24292f;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 300ms;
}


.topnav a:hover {
    cursor: pointer;
    color: #dbd6d0
}


.topnav a.active {
    color: #dbd6d0;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.github {
    height: 22px;
    width: 30px;
}

.github:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
}

@media screen and (max-width: 600px){
    
}