body {
    background-color: rgb(10, 10, 10);
    color: aliceblue;
    font-family: sans-serif;
    overflow: hidden;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#blob {
    position: absolute;
    z-index: -1;
}

.startname {
    filter: blur(35px);
    margin: -100px;
    padding: 30px;
    transition-duration: 700ms;

}

.startname:hover {
    cursor: pointer;
    filter: blur(0);
    margin: 10px;

}

.topnav {
    background-color: rgb(10, 10, 10);
    overflow: hidden;
}


.topnav a {
    float: right;
    color: #24292f;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 300ms;
}


.topnav a:hover {
    cursor: pointer;
    color: #dbd6d0
}

.topnav a.active {
    color: #dbd6d0;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.github {
    height: 22px;
    width: 30px;

}

.github:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
}