body {
    background-color: rgb(10, 10, 10);
    color: aliceblue;
    font-family: sans-serif;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}