<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActivityDB</title>
    <link rel="stylesheet" href="/style/landing.css">
</head>

<body>
    <div class="content">
        <h1 class="title">Activity DB</h1>
        <h3 class="description">The #1 activity database for the incredible city of Kongsberg</h3>

    </div>
    <div class="topnav">
        <a class="github" href="https://github.com/TNT-EzClapz/activity-db"><img src="github-mark.png"></a>
        <a href="#contact">Contact</a>
        <a href="activities.html">Activities</a>
        <a class="active" href="#home">Home</a>
    </div>
</body>

</html>
