<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/style/login.css">
</head>

<body>
  <div class="form-container">
    <h2>Sign Up</h2>
    <form action="/signup" method="post">
      <fieldset>
        <div class="form-group">
          <label for="name" class="namelbl">Name:</label>
          <input type="text" id="name" name="username" placeholder="Enter Your Name" required autocomplete="off">
        </div>
        <div class="form-group">
          <label for="password" class="pswrdlbl">Password:</label>
          <input type="password" name="password" id="password" placeholder="Enter A Password" autocomplete="off">
        </div>
      </fieldset>
      <button type="submit" class="loginbtn">Sign Up</button>
      <br>
      <br>
      <button type="button" class="cancelbtn" onclick="location.pathname = '/index.html'">Cancel</button>
    </form>
    <p class="signup">Already have an account? <a href="/login">Login Here</a></p>
  </div>
</body>

</html>
